<div class="mainContainer">
    <div class="subjectContainer">
        <h1>{{classData.className}}</h2>
        <h1>{{classData.classTeacher}}</h1>
        <h2>Description-{{classData.classDescription}}</h2>
        <a href="https://meet.google.com/{{classCode}}" class="defaultLink">Join Default Meet</h2></a>
    </div>
</div>

<style>
    .defaultLink{
        text-decoration: none;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    ..defaultLink:hover{
        cursor: pointer;
        color: aqua;
    }

    .navBar{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .btn{
        margin: 5px 40px 5px 40px;
        padding: 5px;
        border: 0;
    }

    .verticalSeperator{
        background-color: black;
        color: black;
        border: 0;
        height: 38px;
        box-shadow: 2px 2px 10px 2px black;
    }

    .tablePanel{
        width: 99%;
        height: 55%;
        border: 1px solid red;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<hr style="margin: 15px;">

<div class="navbar">
    {{!-- <button class="btn" id="assignmentBtn">Assignment</button>
    <hr class="verticalSeperator">
    <button class="btn" id="testBtn">Test</button>
    <hr class="verticalSeperator">
    <button class="btn" id="scheduledBtn">Scheduled Classes</button> --}}

    <div class="classNavbar">
        <div class="box1" id="box-1">
            <button class="btn" id="assignmentBtn">ASSIGNMENTS</button>
        </div>
        <div class="box1" id="box-2">
             <button class="btn" id="testBtn">TESTS</button>
        </div>
        <div class="box1" id="box-3">
             <button class="btn" id="scheduledBtn">SCHEDULED CLASSES</button>
        </div>
    </div>
</div>

<div class="tablePanel" id="assignmentView">
    {{!-- {{#allAssignments}}
        <div style="border: 1px solid green;" id="card-{{@key}}">
            <h4>{{this.title}}</h4>
            <p>{{this.totalMarks}}</p>
            <p>{{formatDate this.deadline 'MMMM Do YYYY, h:mm:ss a'}}</p>
            <p id="{{@key}}" class="{{this._id}}" onclick="openAssignment({{@key}})">View Assignment</p>
        </div>
    {{/allAssignments}} --}}

    <div style="border: 1px solid green;" id="card-{{@key}}">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Deadline</th>
                    <th>Total Marks</th>
                    <th>Marks Obtained</th>
                    <th>Details</th>
                </tr>
                {{#allAssignments}}
                    <tr>
                        <td><h4>{{this.title}}</h4></td>
                        <td><p>{{formatDate this.startTime 'MMMM Do YYYY, h:mm:ss a'}}</p></td>
                        <td><p>{{this.totalMarks}}</p></td>
                        <td><h6>Nothing</h6></td>
                        <td><button id="{{@key}}" class="{{this._id}} ViewAssignment btn" onclick="openAssignment({{@key}})">View Assignment</button></td>
                    </tr>
                 {{/allAssignments}}
            </table>
        </div>

</div>
<div class="tablePanel" id="testView">
    Test Appears here
</div>

<div class="tablePanel" id="scheduledClassView">
    
        <div style="border: 1px solid green;" id="card-{{@key}}">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Duration</th>
                    <th>Password</th>
                    <th>Link</th>
                </tr>
                {{#allScheduledClasses}}
                    <tr>
                        <td><h4>{{this.title}}</h4></td>
                        <td><p>{{this.description}}</p></td>
                        <td><p>{{formatDate this.startTime 'MMMM Do YYYY, h:mm:ss a'}}</p></td>
                        <td><p>{{this.duration}}</p></td>
                        <td><h6>{{this.classPassword}}</h6></td>
                        <td><button class="btn meetLink"><a href="{{this.classLink}}">Join Class</a></button></td>
                    </tr>
                 {{/allScheduledClasses}}
            </table>
        </div>
    {{!-- All classes  --}}
</div>


<script>
    const assignmentBtn = document.getElementById('assignmentBtn');
    const testBtn = document.getElementById('testBtn');
    const scheduledBtn = document.getElementById('scheduledBtn');
    const assignmentView = document.getElementById('assignmentView');
    const testView = document.getElementById('testView');
    const scheduledClassView = document.getElementById('scheduledClassView');
    assignmentView.style.display = 'block';
    testView.style.display = 'none';
    scheduledClassView.style.display = 'none';

    document.getElementById("box-1").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da582, #f7bb97, white)";

    document.getElementById("box-1").addEventListener("click", function() {
        document.getElementById("box-1").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da582, #f7bb97, white)";
        document.getElementById("box-2").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da5, #f7bb97, white)";
        document.getElementById("box-3").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da5, #f7bb97, white)";
    });
    document.getElementById("box-2").addEventListener("click", function() {
        document.getElementById("box-2").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da582, #f7bb97, white)";
        document.getElementById("box-1").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da5, #f7bb97, white)";
        document.getElementById("box-3").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da5, #f7bb97, white)";
    });

    document.getElementById("box-3").addEventListener("click", function() {
        document.getElementById("box-3").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da582, #f7bb97, white)";
        document.getElementById("box-2").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da5, #f7bb97, white)";
        document.getElementById("box-1").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da5, #f7bb97, white)";
    });

    assignmentBtn.addEventListener('click', ()=> {
        console.log(`button clicked is${assignmentBtn}`)
        testView.style.display = 'none';
        scheduledClassView.style.display = 'none';
        assignmentView.style.display = 'block';
    })

    testBtn.addEventListener('click', ()=> {
        console.log(`button clicked is${testBtn}`)
        assignmentView.style.display = 'none';
        scheduledClassView.style.display = 'none';
        testView.style.display = 'block';
    })

    scheduledBtn.addEventListener('click', ()=> {
        console.log(`button clicked is${scheduledBtn}`)
        assignmentView.style.display = 'none';
        testView.style.display = 'none';
        scheduledClassView.style.display = 'block';
    })

    function openAssignment(id){
        console.log(`id is ${document.getElementById(id).classList[0]}`)
        location.assign(`${location.origin}${location.pathname}/assignment/${document.getElementById(id).classList[0]}`)
    }
        


</script>