<style>
    * {
        font-family: 'Open Sans', sans-serif;
    }

    body {
        background-color: rgb(231 237 239);
    }

    #allSchedule {
        justify-content: center;
    }
    #allTests {
        justify-content: center;
        display: none;
    }
    #allAssignments {
        justify-content: center;
        display: none;
    }

    th,
    td {
        border: 1px solid black;
    }

    table {
        margin-top: 5%;
        width: 98%;
        height: auto;
    }

    tr>th {
        font-size: large;
        background-color: #d2f6ff;
        padding: 10px;
    }

    tr>td {
        background-color: #f0fbff;
        padding: 10px;
    }


    .supremeClassDashboard {
        height: 25%;
        margin: 10px auto;
    }

    .middleClassDashboard {
        height: 10%;
        margin: 10px auto;
    }

    .bottomClassDashboard {
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mainContainer {
        margin: 1.5% 10%;
        padding: 3px;
        background-color: #AEDAE4;
        background-image: url('/images/backgroundImage2.svg');
        background-size: cover;
        height: 80%;
        text-align: center;
        box-shadow: 0 0 15px 1px #c7c7c7;
        border-radius: 2px;
        text-align: start;
        overflow-y: scroll;
    }

    .mainContainer-element {
        margin: 0% 2% 0 26%;
    }

    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
    a{
        margin-left: 27%;
        background-color: white;
        color: black;
        padding: 3px;
        text-decoration: none;
    }
    .card {
    border: 0.5px solid rgb(194, 189, 189);
    margin: 30px;
    width: 370px;
    margin-top: 30px;
    font-family: sans-serif;
    background-color: white;
    justify-content: center;
    height: 20rem;
}
    .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}
.upperPart {
    color: rgb(44, 24, 24);
    background-color: #ddf6ff;
    text-align: center;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.upperPart>div{
    padding: 6px;
}

.lowerPart {
    padding: 23px;
    display: flex;
    margin-bottom: 20px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.color-NA{
    background-color: #ff5d5f;

}

</style>



<div class="supremeClassDashboard">
    <div class="mainContainer">
        <h1 style="font-size: xxx-large;" class="mainContainer-element">{{classData.className}}</h1>
        <h2 style="font-size: medium; padding: 5px;" class="mainContainer-element">{{classData.classTeacher}}</h2>
        <h2 style="font-size: medium; padding: 5px; margin-bottom: 5px;" class="mainContainer-element">
            Description-{{classData.classDescription}}</h2>
    </div>
</div>


<div class="middleClassDashboard">
    <div class="classNavbar">
        <div class="box1" id="box-1">
            <h3 style="font-size: x-large" onclick="openAssignments()">ASSIGNMENTS</h3>
        </div>
        <div class="box1" id="box-3">
            <h3 style="font-size: x-large" onclick="openTests()">TESTS</h3>
        </div>
        <div style="font-size: x-large" class="box1" id="box-2">
            <h3 onclick="openClassShedule()">CLASSES</h3>
        </div>

    </div>
</div>


<div class="bottomClassDashboard"> 
    <div id="allAssignments">

        <table class="timeTable">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Total Marks</th>
                <th>Submitted at</th>
                <th>Marks Obtained</th>
                <th>Details</th>
            </tr>
            {{#each allAssignments}}
                <tr>
                    <td>
                        <h4 style="overflow-y: scroll; width: 250px; height: 100px;">{{this.title}}</h4>
                    </td>
                    <td>
                        <p style="overflow-y: scroll; width: 250px; height: 100px;">{{this.description}}</p>
                    </td>
                    <td>
                        <p style="text-align: center;">{{formatDate this.startTime 'MMMM Do YYYY, h:mm:ss a'}}</p>
                    </td>
                    <td>
                        <p style="text-align: center;">{{this.totalMarks}}</p>
                    </td>
                    <td class="color-{{this.isSubmitted}}">
                        <p style="text-align: center;">{{formatDate this.isSubmitted 'MMMM Do YYYY, h:mm:ss a'}}</p>
                    </td>
                    <td>
                        <h4 style="text-align: center;">{{this.marks}}</h4>
                    </td>
                    <td><button id="{{@key}}" class="{{this._id}} ViewAssignment {{this.marks}} {{this.isSubmitted}}" onclick="openAssignment({{@key}})">View
                            Assignment</button></td>
                </tr>
            {{/each}}
        </table>
    </div>



    <div id="allTests">
    
        <table class="timeTable">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Total Marks</th>
                <th>Submitted at</th>
                <th>Marks Obtained</th>
                <th>Details</th>
            </tr>
            {{#each allTests}}
                <tr>
                    <td>
                        <h4 style="overflow-y: scroll; width: 250px; height: 100px;">{{this.title}}</h4>
                    </td>
                    <td>
                        <p style="overflow-y: scroll; width: 250px; height: 100px;">{{this.description}}</p>
                    </td>
                    <td>
                        <p style="text-align: center;">{{formatDate this.startTime 'MMMM Do YYYY, h:mm:ss a'}}</p>
                    </td>
                    <td>
                        <p style="text-align: center;">{{this.totalMarks}}</p>
                    </td>
                    <td class="{{this.isSubmitted}}">
                        <p style="text-align: center;">{{formatDate this.isSubmitted 'MMMM Do YYYY, h:mm:ss a'}}</p>
                    </td>
                    <td>
                        <h4 style="text-align: center;">{{this.marks}}</h4>
                    </td>
                    <td><button id="{{@key}}" class="{{this._id}} ViewAssignment" onclick="openAssignment({{@key}})">View
                            Assignment</button></td>
                </tr>
            {{/each}}
        </table>

    </div>


    <div id="allSchedule">
        <table class="timeTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start time</th>
                    <th>Duration</th>
                    <th>Class Link</th>
                </tr>
            </thead>
            {{#each allScheduledClasses}}

            <tbody>
                <tr>
                    <td>{{this.title}}</td>
                    <td><p style="overflow-y: scroll; width: 250px; height: 100px;">{{this.description}}</p></td>
                    <td>{{formatDate this.startTime 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td>{{this.duration}} hour(s)</td>
                    <td>{{this.classLink}}</td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</div>



<script>
    document.getElementById("allAssignments").style.display = "flex";
    document.getElementById("box-1").style.borderBottom = "2px solid #1e8dff";
    document.getElementById("box-1").style.backgroundColor = "#f0fbff";

    document.getElementById("box-1").addEventListener("click", function () {
        document.getElementById("allAssignments").style.display = "flex";
        document.getElementById("allSchedule").style.display = "none";
        document.getElementById("allTests").style.display = "none";
        document.getElementById("box-1").style.borderBottom = "2px solid #1e8dff";
        document.getElementById("box-2").style.borderBottom = "none";
        document.getElementById("box-3").style.borderBottom = "none";
        document.getElementById("box-1").style.backgroundColor = "#f0fbff";
        document.getElementById("box-2").style.backgroundColor = "#E7EDEF";
        document.getElementById("box-3").style.backgroundColor = "#E7EDEF";
    });

    document.getElementById("box-2").addEventListener("click", function () {
        document.getElementById("allSchedule").style.display = "flex";
        document.getElementById("allAssignments").style.display = "none";
        document.getElementById("allTests").style.display = "none";
        document.getElementById("box-2").style.borderBottom = "2px solid #1e8dff";
        document.getElementById("box-1").style.borderBottom = "none";
        document.getElementById("box-3").style.borderBottom = "none";
        document.getElementById("box-2").style.backgroundColor = "#f0fbff";
        document.getElementById("box-1").style.backgroundColor = "#E7EDEF";
        document.getElementById("box-3").style.backgroundColor = "#E7EDEF";

    });


    document.getElementById("box-3").addEventListener("click", function () {
        document.getElementById("allTests").style.display = "flex";
        document.getElementById("allAssignments").style.display = "none";
        document.getElementById("allSchedule").style.display = "none";
        document.getElementById("box-3").style.borderBottom = "2px solid #1e8dff";
        document.getElementById("box-1").style.borderBottom = "none";
        document.getElementById("box-2").style.borderBottom = "none";
        document.getElementById("box-3").style.backgroundColor = "#f0fbff";
        document.getElementById("box-1").style.backgroundColor = "#E7EDEF";
        document.getElementById("box-2").style.backgroundColor = "#E7EDEF";
    });

    function editCard(key) {
        console.log(key);
        let id1 = `class-${key}`;
        console.log('kkkk' + id1);

        location.assign('/teacherDashboard/' + code + 'assignment' + id);
    }

    function openAssignment(id){
        let marks = document.getElementById(id).classList[2]
        let isSubmitted = document.getElementById(id).classList[3] + ' ' + document.getElementById(id).classList[4] + ' ' + document.getElementById(id).classList[5] + ' ' + document.getElementById(id).classList[6] + ' ' + document.getElementById(id).classList[7];
        console.log(`id is ${document.getElementById(id).classList[0]}`)
        location.assign(`${location.origin}${location.pathname}/assignment/${document.getElementById(id).classList[0]}/?marks=${marks}&isSubmitted=${isSubmitted}`)
    }


</script>